Repository tunapanda/wikonnect, pull requests merged in 2020-03, with the labels that each got.

#149 Feature/enrollments [WIK-1]
  frontend/app/controllers/course/index.js
  frontend/app/models/enrollment.js
  frontend/app/templates/course/index.hbs
  frontend/app/templates/home.hbs
  server/routes/courses.js
  server/routes/enrollments.js
  server/utils/userProgress/coursesPogress.js
Labels: frontend

#194 Social share links
  frontend/app/components/social-share-links.hbs
  frontend/tests/integration/components/social-share-links-test.js
Labels: frontend, points:1

#202 [Docs] Replace `npm` with `yarn` in README
  README.md
  frontend/README.md
  server/README.md
  server/config/db.example.js
  server/package.json
Labels: documentation, points:1
